<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E-Players</title>
    <link rel="stylesheet" href="~/css/index.css" />
    <script src="https://kit.fontawesome.com/77a9a4e10d.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="container_grid">
            <div class="container_header">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="logo" src="/assets_/logo.svg" alt="Logo do E-Players, portal de campeonatos online">
                </a>
                <a class="btn_menu" onclick="botaoDoMenu()">
                    <i class="fas fa-bars"></i>
                </a>
                <nav id="menu_header" class="nav_header">
                    <a asp-area="" asp-controller="Home" asp-action="Index">Início</a>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Horários</a>
                    <a asp-area="" asp-controller="" asp-action="">Campeonatos</a>
                    <a asp-area="" asp-controller="" asp-action="">Resultados</a>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Notícias</a>
                    @{
                        if (ViewBag.Username != null)
                        {
                            <a>Olá @ViewBag.Username!</a>
                            //Configurações da conta no link acima
                            <a asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
                        }
                        else
                        {
                            <a asp-area="" asp-controller="Login" asp-action="Index">Login</a>
                        }
                    }
                </nav>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container_grid">
            <div class="container_footer">
                <nav class="nav_footer">
                    <span>Links úteis</span>
                    <ul class="lista_footer">
                        <li><a href="#">Regras de utilização</a></li>
                        <li><a href="#">Suporte</a></li>
                        <li><a href="#">Central de ajuda</a></li>
                        <li><a href="#">Contato</a></li>
                    </ul>
                </nav>
                <nav class="nav_footer">
                    <span>Páginas</span>
                    <ul class="lista_footer">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Início</a></li>
                        <li><a asp-area="" asp-controller="" asp-action="">Campeonatos</a></li>
                        <li><a asp-area="" asp-controller="" asp-action="">Resultados</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Notícias</a></li>
                        <li><a asp-area="" asp-controller="Equipe" asp-action="Index">Login/Cadastro</a></li>
                    </ul>
                </nav>
                <a class="logo_footer" href="#">
                    <img class="imagem_footer" src="/assets_/logo.svg"
                        alt="Logo do E-Players, portal de campeonatos online">
                </a>
                <div class="contato_footer">
                    <span>Faça parte do nosso clan, assine nossa newsletter!</span>
                    <form class="formulario_newsletter">
                        <input class="campo_newsletter" type="email" placeholder="E-mail">
                        <button class="botao_newsletter">Entrar</button>
                    </form>
                    <div class="redes_sociais_footer">
                        <span>Siga-nos em:</span>
                        <a href="https://www.instagram.com/" target="_blank">
                            <img src="/assets_/instagram.png"
                                alt="Logo da rede social Instagram, redirecionará para a página do E-Players nesta rede social">
                        </a>
                        <a href="https://www.facebook.com" target="_blank">
                            <img src="/assets_/facebook.png"
                                alt="Logo da rede social Facebook, redirecionará para a página do E-Players nesta rede social">
                        </a>
                        <a href="https://www.youtube.com" target="_blank">
                            <img src="/assets_/youtube.png"
                                alt="Logo da rede social Youtube, redirecionará para a página do E-Players nesta rede social">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
