@{
    ViewData["Title"] = "E-Players";
}

<div onclick="botaoDoMenuFechar()">
    <section class="banner">
            <div class="container_banner">
                <img src="/assets_/Banner_img.png"
                    alt="Imagem promocional de personagens Mira, Lesion e Frost do jogo Rainbow Six Siege">
                <div class="banner_texto">
                    <h1>LIGA E-Players</h1>
                    <span>O maior portal de campeonatos online</span>
                    <a asp-area="" asp-controller="Equipe" asp-action="Index">EInscreva-se</a>
                    <a asp-area="" asp-controller="Jogador" asp-action="Index">JInscreva-se</a>
                </div>
            </div>
        </section>
        <section class="logo_jogos">
            <div class="container_grid">
                <div class="container_logos">
                    <img class="logo_r6" src="/assets_/r6_logo.png" alt="logo do jogo Rainbow Six Siege">
                    <img class="logo_vava" src= "/assets_/valorant-logo.png" alt="logo do jogo Valorant">
                    <img class="logo_lol" src="/assets_/logo-lol.png" alt="logo do jogo League of Legends">
                    <img class="logo_cs" src="/assets_/Counter-Strike-Logo.png" alt="logo do jogo Counter Strike">
                    <img class="logo_fifa" src="/assets_/FIFA_logo.png" alt="Logo do jogo FIFA">
                </div>
            </div>
        </section>
        <section class="como_participar">
            <div class="container_grid">
                <div class="container_como_participar">
                    <div class="como_participar_texto">
                        <h2>Como participar das ligas?</h2>
                        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book.
                        </p>
                        <p> It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged. It was popularised in the 1960s with the release of
                            Letraset sheets containing Lorem Ipsum passages.
                        </p>
                    </div>
                    <img class="img_largura_maior" src="/assets_/nami.png" alt="Imagem da personagem Nami, do jogo League of Legends">
                </div>
            </div>
        </section>
        <section class="partidas">
            <div class="container_grid">
                <div class="container_partidas">
                    <div class="ao_vivo">
                        <h2>Ao <br> vivo</h2>
                        <a asp-area="" asp-controller="" asp-action="" class="partida">
                            <span>time</span>
                            <img src="/assets_/sk-logo.png" alt="Logo do time profissional de ESports, SK Gaming">
                            <span>vs</span>
                            <img src="/assets_/fla-logo.png" alt="Logo do time profissional de ESports, Flamengo">
                            <span>time</span>
                        </a>
                    </div>
                    <div class="em_breve">
                        <h2>Em <br> breve</h2>
                        <div class="partida">
                            <span>time</span>
                            <img src="/assets_/sk-logo.png" alt="Logo do time profissional de ESports, SK Gaming">
                            <span>vs</span>
                            <img src="/assets_/fla-logo.png" alt="Logo do time profissional de ESports, Flamengo">
                            <span>time</span>
                        </div>
                        <div class="partida">
                            <span>time</span>
                            <img src="/assets_/sk-logo.png" alt="Logo do time profissional de ESports, SK Gaming">
                            <span>vs</span>
                            <img src="/assets_/fla-logo.png" alt="Logo do time profissional de ESports, Flamengo">
                            <span>time</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="horarios_noticias" class="noticias_horarios">
            <div class="container_grid">
                <div class="container_noticias_horarios">
                    <nav class="noticias">
                        <h2>Notícias</h2>
                        <div class="linha_noticias">
                            <div class="box_noticia">
                                <img src="/assets_/player.jpg" alt="Imagem da jogadora Isadora Basile">
                                <h3>Título da notícia</h3>
                                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </p>
                            </div>
                            <div class="box_noticia">
                                <img src="/assets_/player.jpg" alt="Imagem da jogadora Isadora Basile">
                                <h3>Título da notícia</h3>
                                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </p>
                            </div>
                            <div class="box_noticia">
                                <img src="/assets_/player.jpg" alt="Imagem da jogadora Isadora Basile">
                                <h3>Título da notícia</h3>
                                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </p>
                            </div>
                            <div class="box_noticia">
                                <img src="/assets_/player.jpg" alt="Imagem da jogadora Isadora Basile">
                                <h3>Título da notícia</h3>
                                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </p>
                            </div>
                            <div class="box_noticia">
                                <img src="/assets_/player.jpg" alt="Imagem da jogadora Isadora Basile">
                                <h3>Título da notícia</h3>
                                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </p>
                            </div>
                            <div class="box_noticia">
                                <img src="/assets_/player.jpg" alt="Imagem da jogadora Isadora Basile">
                                <h3>Título da notícia</h3>
                                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </p>
                            </div>
                        </div>
                    </nav>
                    <div class="horarios">
                        <h2>Próximos jogos</h2>
                        <div class="horarios_box">
                            <div class="info_partida">
                                <div class="jogo_partida">
                                    <span>time</span>
                                    <img src="/assets_/sk-logo.png"
                                        alt="Logo do time profissional de ESports, SK Gaming">
                                    <span>vs</span>
                                    <img src="/assets_/fla-logo.png"
                                        alt="Logo do time profissional de ESports, Flamengo">
                                    <span>time</span>
                                </div>
                                <span>horário e data</span>
                            </div>
                            <div class="info_partida">
                                <div class="jogo_partida">
                                    <span>time</span>
                                    <img src="/assets_/sk-logo.png"
                                        alt="Logo do time profissional de ESports, SK Gaming">
                                    <span>vs</span>
                                    <img src="/assets_/fla-logo.png"
                                        alt="Logo do time profissional de ESports, Flamengo">
                                    <span>time</span>
                                </div>
                                <span>horário e data</span>
                            </div>
                            <div class="info_partida">
                                <div class="jogo_partida">
                                    <span>time</span>
                                    <img src="/assets_/sk-logo.png"
                                        alt="Logo do time profissional de ESports, SK Gaming">
                                    <span>vs</span>
                                    <img src="/assets_/fla-logo.png"
                                        alt="Logo do time profissional de ESports, Flamengo">
                                    <span>time</span>
                                </div>
                                <span>horário e data</span>
                            </div>
                            <div class="info_partida">
                                <div class="jogo_partida">
                                    <span>time</span>
                                    <img src="/assets_/sk-logo.png"
                                        alt="Logo do time profissional de ESports, SK Gaming">
                                    <span>vs</span>
                                    <img src="/assets_/fla-logo.png"
                                        alt="Logo do time profissional de ESports, Flamengo">
                                    <span>time</span>
                                </div>
                                <span>horário e data</span>
                            </div>
                            <div class="info_partida">
                                <div class="jogo_partida">
                                    <span>time</span>
                                    <img src="/assets_/sk-logo.png"
                                        alt="Logo do time profissional de ESports, SK Gaming">
                                    <span>vs</span>
                                    <img src="/assets_/fla-logo.png"
                                        alt="Logo do time profissional de ESports, Flamengo">
                                    <span>time</span>
                                </div>
                                <span>horário e data</span>
                            </div>
                            <div class="info_partida">
                                <div class="jogo_partida">
                                    <span>time</span>
                                    <img src="/assets_/sk-logo.png"
                                        alt="Logo do time profissional de ESports, SK Gaming">
                                    <span>vs</span>
                                    <img src="/assets_/fla-logo.png"
                                        alt="Logo do time profissional de ESports, Flamengo">
                                    <span>time</span>
                                </div>
                                <span>horário e data</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</div>
